export(affin.prop)
export(central.quantile)
export(color.name)
export(copy.tri)
export(geometric.mean)
export(harmonic.mean)
export(invLogOdds)
export(invOdds)
export(logOdds)
export(mail)
export(na.count)
export(normalize)
export(odds)
export(one.arg)
export(row.col.page.fit)
export(scatterdens)
export(scatterhist)
export(uniform.test)
export(zero.pad)
